/.Module.symvers.cmd
/.kno_partscan.ko.cmd
/.kno_partscan.mod.cmd
/.kno_partscan.mod.o.cmd
/.kno_partscan.o.cmd
/.modules.order.cmd
/.no_partscan.ko.cmd
/.no_partscan.mod.cmd
/.no_partscan.mod.o.cmd
/.no_partscan.o.cmd
/.vscode
/Module.symvers
/kno_partscan.ko
/kno_partscan.mod
/kno_partscan.mod.c
/kno_partscan.mod.o
/kno_partscan.o
/modules.order
/no_partscan.ko
/no_partscan.mod
/no_partscan.mod.c
/no_partscan.mod.o
/no_partscan.o